build/
*.spec
__pycache__/
*.pyc
MichiganIndexGenerator.zip
*.zip
aa-slideshow/node_modules
aa-slideshow/preview.html
aa-scan-deck/node_modules
aa-scan-deck/pages/
aa-scan-deck/preview.html
aa-scan-deck/scans/
aa-scan-deck/amb.jpg
